#code location
FASTAPI_APP=

# log buffer
PYTHONUNBUFFERED=1

# postgREST Credential
POSTGREST_IP=
POSTGREST_PORT=
POSTGREST_TOKEN=

# Database credential
DB_USERNAME=
DB_PASSWORD=
DB_VOLUME=

# Z.AI api crendetial
AI_URL=
AI_KEY=
